{% extends "base.html" %}
{% block title_block %}Your Profile {% endblock %}
{% block body_block%}

<h2>Your Profile</h2>
{% if user.user_profile %}
<img src="/src/media/{{user.user_profile.profile_pic}}" class="rounded-circle" width="100px">

<br>

<a href="{% url 'login:change_pro_pic' %}" class="btn btn-info btn-sm ">Change
Profile Picture</a>
<br>
{% else %}
<img src="/src/media/profile_pics/avatar-male.jpg" class="rounded-circle" width="100px">
<br>

<a href="{% url 'login:add_pro_pic' %}" class="btn btn-info btn-sm ">Upload Profile Picture</a>
<br>
{% endif %}
<br>
<p><Username:> Username:{{ user.username }} </Username:></p>
<p>Email: {{ user.email }}</p>
<p>Name: {{ user.first_name}} {{ user.last_name }}</p>
<br>
<a href="{% url 'login:change_user' %}" class="btn btn-warning btn-sm">Change profile info </a>

{% endblock  %}